:root {
    --color-primary: #ffcc00;
    --color-primary-dark: #d4a000;
    --color-primary-light: #ffe066;

    --color-secondary: #424242;
    --color-secondary-dark: #1b1b1b;
    --color-secondary-light: #616161;

    --color-background: #212121;

    --color-text: #ffffff;
    --color-text-light: #b0bec5;

    --color-accent: #fbc02d;
}



body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* background-color: #18135C; */
    background-color: var(--color-background);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    padding: 20px;
    height: 10%;
    text-align: center;
    z-index: 1000;
    animation: headera auto linear forwards;
    /* animation-timeline: scroll(root block); */
    animation-timeline: view();
    -webkit-animation: headera auto linear forwards;
}

header h1 {
    font-size: 1.5em;
}

.menu1 {
    justify-content: space-between;
    animation: resize auto linear forwards;
    animation-timeline: scroll();
    color: var(--color-text);
}

.menu1,
.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    animation: resize1 auto linear forwards;
    animation-timeline: scroll(root block);
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    li {
        display: inline;
        margin-right: 10px;
    }
}

.navbar ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    color: var(--color-text); 
}

.navbar ul li a:hover {
    color: var(--color-text);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.navbar ul li a {
    animation: resize2 auto linear forwards;
    animation-timeline: scroll(root block);
    -webkit-animation: resize2 auto linear forwards;
}

.logo {
    width: 5%;
    height: auto;
    margin-right: 5%;
}

.container {
    position: absolute;
    width: 94%; /* Establece el ancho del contenedor al 100% del ancho del viewport */
    max-width: 94%;
    margin: 0 auto;
    margin-left: 2%;
    margin-top: 11%;
    margin-bottom: 50%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 5%;
    /* background-color: white; */
    padding: 20px;
    box-sizing: border-box;
}

.container div {
    text-align: center;
    align-items: center;
    /*PRUEBA ANIMACIÓN INTENTO*/
    animation: pru auto linear forwards;
    animation-timeline: view;
}
.container .obj {
    width: 80%;
    height: 65%;
    background-color: var(--color-primary);
    padding: 2%;
    text-align: center;
    color: var(--color-text);
    border-radius:5%;
    text-decoration: none;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.container .obj:hover {
    box-shadow: 0 0 40px black;
    scale: 1.07;
}

.container p {
    text-align: center;
    color: var(--color-text);
}

.container div img {
    display: block;
    margin: 0 auto;
    background-color: var(--color-background);
}


@keyframes resize {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes resize1 {
    from {
        top: 15%;
        color: initial;
    }
    to {
        top: 8%;
        color: var(--color-text);

    }
}

@keyframes headera {
    from {
        background-color: initial;
    }
    to {
        background-color: var(--color-background);
    }
}

@keyframes resize2 {
    from {
        color: var(--color-text);
    }
    to {
        color: var(--color-text);

    }
}
