:root {
    --color-primary: #ffcc00;
    --color-primary-dark: #d4a000;
    --color-primary-light: #ffe066;
    --color-secondary: #424242;
    --color-secondary-dark: #1b1b1b;
    --color-secondary-light: #616161;
    --color-background: #212121;
    --color-text: #ffffff;
    --color-text-light: #b0bec5;
    --color-accent: #fbc02d;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    position: static;
    max-width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    background-color: var(--color-background);
    padding: 1%;
    text-align: center;
    z-index: 1000;
    animation: resize auto linear forwards;
    animation-timeline: scroll();

    a {
        text-decoration: none;
        color: var(--color-text);
    }

}

header h1 {
    font-size: 1.5em;
}

.menu1 {
    top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5%;
} 
#contenido {
    position: absolute;
}

.menuLat1,
.menuLat2 {
    position: fixed;
    top: 15%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-primary-dark);
    z-index: 1000;
}

.menuLat1 {
    width: 20%;
    left: 0;
}

.menuLat2 {
    width: 15%;
    right: 0;
}

.menuLat1 a,
.menuLat2 a {
    text-decoration: none;
    color: var(--color-text);
    margin-bottom: 10px;
}

.container {
    position: static;
    top: 15%;
    max-height: 80%;
    overflow-y: scroll;
    width: 60%;
    margin-left: 23%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
}

.logo {
    width: 4%;
    height: auto;
    margin-right: 5%;
}

@keyframes resize {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
    }
}

@keyframes mov {
    from {
        top: 20%;
    }

    to {
        top: 60%;
    }
}
